#login {
    position: absolute;
    top: 35%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 250px;
    height: 300px;
    background: #e8e6da;
}

#loginBtn {
    margin-top: 50%;
    margin-left: 20%;
}

#logoutBtn {
    margin-left: 20%;
}

